{% load static %}
{% include "header.html" %}
    
    <!--HOME SECTION-->
    <style>
        .light-green {
            color: #FFD700;
        }
    </style>
    
    <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main light-green">Mathura Tour</span>
                        <h3 class="head-last col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 light-green">Welcome to Krishna Bhumi</h3>
         
                 
            </div>
        </div>
    </div>
         </div>
    

    <section  id="services-sec">
        <div class="container">
            <div class="row ">
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4 alert-info">
                            <h4>Free To Use </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            
                    </div>
                    <div class="col-md-4 col-sm-4 alert-success">
                            <h4>100%  Responsive </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            
                    </div>
                   
                    <div class="col-md-4 col-sm-4 alert-danger">
                            <h4> Customizable </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                          
                    </div>
                </div>
                  </div>
                <div class="row go-marg">
                    {% for n in tourpackage %}
                    <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                        
                        <div class="panel-body">
                             <h4 class="adjst">{{n.name}}</h4>
                            <p>
                                   {{n.des | safe}}
                            </p>
                             
                           
                        </div>
                        
                    </div> 
                </div>
                {% endfor %}
            </div>
    </section>
    <!--END HOME SECTION-->
  
    

   

{% include "footer.html" %}